 {{> header }}

  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style="font-size: 2rem; font-weight:bold;">{{ title }}</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>{{ title }}</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-9">
            <div class="portfolio-description" style="border: 1px solid #e2eefd; background-color:#fff; box-shadow: 0px 0 30px rgb(34 34 34 / 8%); padding:20px;">
                <div class="" style="font-size: 16px; padding-top: 10px; padding-bottom: 10px;">
                    <h4>{{collections.articles.length}} posts</h4>
                </div>
                <hr />
                {{#group collections.articles by="year"}}
                    <h4><span>{{ value }}</span></h4>
                    {{#each items}}
                        <a class="question" href="/{{path}}" style="text-decoration:underline;">{{title}}</a><br />
                    {{/each}}
                    <hr />
                {{/group}}
            </div>

          </div>

          <div class="col-lg-3 team" style="padding-top:0px;">
            {{> left-side }} 
            <div class="portfolio-info">
              {{#each category}}
                {{#each @key}}
                  <a href="/{{this.path}}">{{@key}}{{this}}</a>
                {{/each}}
              {{/each}}
            </div>
            
          </div>

        </div>

      </div>
        
    </section>
    
  </main><!-- End #main -->

  {{> footer }}